<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BattleInfoPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BattleInfoPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BattleInfoPlugin.Properties.Settings>
            <setting name="IsEnabledBattleEndNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsBattleEndNotifyOnlyWhenInactive" serializeAs="String">
                <value>True</value>
            </setting>
        </BattleInfoPlugin.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BattleInfoPlugin.Properties.Settings>
            <setting name="EnemyDataFileName" serializeAs="String">
                <value>BattleInfoPlugin_EnemyData.txt</value>
            </setting>
            <setting name="MasterDataFileName" serializeAs="String">
                <value>BattleInfoPlugin_MasterData.txt</value>
            </setting>
            <setting name="CacheDirPath" serializeAs="String">
                <value>BattleInfoPluginData</value>
            </setting>
            <setting name="ResourceUrlMappingFileName" serializeAs="String">
                <value>BattleInfoPlugin_ResourceUrlMapping.txt</value>
            </setting>
        </BattleInfoPlugin.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Livet" publicKeyToken="b0b1d3f711ef38cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
